#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e3e6f3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-list-nav ul {
    display: flex;
  }
  .header-list-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
  }
  .header-list-nav ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }
  .header-list-nav ul a:hover,
  .header-list-nav ul a.active {
    color: #088178;
    content: "";
  }
  .header-list-icon a {
    color: #1a1a1a;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  .header-list-icon a:hover,
  .header-list-nav ul a.active {
    color: #088178;
  }
  .header-list-nav ul li a:hover::after,
  .header-list-nav ul li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }