
#hero {
    background-image: url(https://www.artofliving.org/sites/www.artofliving.org/files/styles/original_image/public/landing_page_uploads/full_carousel/natural%20farming%20hero%20desktop.jpg.webp?itok=ekErY45d);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top -80% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
  }
  
  #hero h4 {
    padding-bottom: 15px;
    font-size: 40px;
  }
  #hero h2{
    font-size: 70px;
  
  }
  #hero h1 {
    color: #088178;
    font-size: 70px;
  
  }
  #hero button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
    padding: 14px 65px 14px 65px;
  }
  
  /* feature section styles */
  
  #features {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #features .f-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 0.3s;
  }
  #features .f-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
  }
  #features .f-box img {
    width: 100%;
    margin-bottom: 10px;
  }
  #features .f-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
  }
  #features .f-box:nth-child(2) h6 {
    background-color: #cdebbc;
  }
  #features .f-box:nth-child(3) h6 {
    background-color: #d1e8f2;
  }
  #features .f-box:nth-child(4) h6 {
    background-color: #cdd4f8;
  }
  #features .f-box:nth-child(5) h6 {
    background-color: #f6dbf6;
  }
  #features .f-box:nth-child(6) h6 {
    background-color: #fff2e5;
  }
  